

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: #92C2CE;
  font-family: 'Averta', sans-serif;
}
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 4px solid #364043;
  color: #d8ad11;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.65em 1em;

}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #3790A6;
}
.fixed_header{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_header tbody{
  display:block;
  overflow:auto;
  height: 900px;
  width:100%;
}
.fixed_header thead tr{
  display:block;
 
}
.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

/* For mobile devices: */
@media only screen and (max-width: 600px) {
  /* Make the table full width */
  table {
    width: 100%;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead {
    display: none;
  }

  /* Make each table row full width and stack them vertically */
  tr {
    display: block;
    margin-bottom: 20px;
  }

  /* Add borders to each table data/cell */
  td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  /* Add padding to each table data/cell */
  td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}