

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: #92C2CE;
  font-family: 'Averta', sans-serif;
}
table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 4px solid #364043;
  color: #d8ad11;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.65em 1em;

}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #3790A6;
}
.fixed_header{
  width: 900px;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_header tbody{
  display:block;
  overflow:auto;
  height: 900px;
  width:100%;
}
.fixed_header thead tr{
  display:block;
 
}
.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}